body,
html {
	margin: 0;
}

body {
	color: #222;
	font: 18px/30px Georgia, serif;
	width: 90%;
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}

#page {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 100vh;
}

#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
}

::-moz-selection{ background: #ddd; color: #000; text-shadow: none; }
::selection{ background: #ddd; color: #000; text-shadow: none; }

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

a {
	color: #2455c3;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

p {
	margin: 0 0 24px;
}

code, pre {
	color: #fff;
	background: #9F3FA3;
	display: block;
	padding: 25px;
	font: 14px/24px Monaco, Consolas, "Lucida Console", monospace;
	border-radius: 6px;
}

code {
	text-align: center;
}

footer {
    display: block;
    font-family: 'Open Sans', sans-serif;
    background: grey;
    height: 75px;
    width: 100%;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
}