body,
html {
	margin: 0;
}

body {
	color: #222;
	font: 18px/30px Georgia, serif;
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5%;
}

::-moz-selection{ background: #ddd; color: #000; text-shadow: none; }
::selection{ background: #ddd; color: #000; text-shadow: none; }

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

a {
	color: #2455c3;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

p {
	margin: 0 0 24px;
}

code, pre {
	color: #fff;
	background: #9F3FA3;
	display: block;
	padding: 25px;
	font: 14px/24px Monaco, Consolas, "Lucida Console", monospace;
	border-radius: 6px;
}

code {
	text-align: center;
}

footer {
	font-family: 'Open Sans', sans-serif;
	margin: 15px 0 0 0;
}

#wrapper {
	max-width: 700px;
	width: 80%;
	margin: 0 auto;
}

#wrapper header,
#wrapper section,
#wrapper aside,
#wrapper footer {
	margin: 0 0 25px;
}

#wrapper section {
	float: left;
	max-width: 425px;
	width: 100%;
}

#wrapper aside {
	float: right;
	max-width: 250px;
	width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

/* IE fix */
.group {
	*zoom: 1;
}